$primary-blue: #007bff;
$success: #30A64A;
$lightgrey: #ced4da;

body{
    margin: 0px;
}

h2{
    font-size: 1.4em;
}

h3{
    font-size: 1.2em;
}

.statistics-text{
    color: lighten($success, 10%);
    margin-bottom: 10px;
}

header{
    background-image: url("../images/hero.jpg");
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 
    padding: 40px 0 20px 0;
    margin-bottom: 20px;
    background-color: lighten($primary-blue, 40%);
}

.card{
    margin: 20px 0 20px 0;
    h2{
        font-weight: bold;
    }
}

button:hover, a{
    cursor: pointer;
}

input[type=submit]:hover{
    color: white;
    background-color: $primary-blue;
    border: 1px solid $primary-blue;
    cursor: pointer;
}

input[type=submit], input[type=text]{
    padding: .375rem .75rem;
    border: 0px;
    border-radius: .25rem;
    border: 1px solid $lightgrey;
}

select{
    margin-bottom: 15px;
}

/******************************
Customizing Bootstrap-components 
*******************************/
.list-group{
    margin-bottom: 20px;
}

.btn{
    margin-bottom: 10px;
}

.sidebar{
    padding-top: 20px;
}

.single-job-container{
    padding: 0 15px 0 15px;
}

.list-group-item{ 
    &:hover{
        cursor: pointer;
    }
}

.pagination-container{
    margin: 20px 0 20px 0;
/***************************
******** Utilities *********
****************************/

    p{
        text-decoration: underline;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}