$primary-blue: #007bff;

body{
    margin: 0px;
}

header{
    padding: 50px 0 20px 0;
    margin-bottom: 20px;
    background-color: lighten($primary-blue, 40%);
}

input[type=submit], button:hover, a{
    cursor: pointer;
}

.job-container{
    padding: 20px 0 20px 0;
}

.sidebar{
    padding-top: 20px;
}

.job-category{ 

    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}

.pagination-container{
    p{
        text-decoration: underline;
        cursor: pointer;
    }
}

.hidden {
    display: none;
}